body {
  margin: 0;
  background-color: darkcyan;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.quiz-over-modal {
  background-color: black;
  width: 400px;
  margin: 50px auto;
}
.quiz-container {
  max-width: 700px;
  min-height: 497px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 10px;
  padding: 25px;
}
.question-number h3 {
  color: darkcyan;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
}
#question {
  font-size: 24px;
  color: #000;
  padding: 15px 0;
  margin-bottom: 10px;
}
.options {
  margin-bottom: 15px;
}
.options div {
  background-color: #ccc;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  cursor: poiner;
  transition: all 0.2s ease-in-out;
}
.options div:hover {
  background-color: #ccccccaf;
}
.options div.correct {
  color: #fff;
  background-color: green;
}
.options div.wrong {
  color: #fff;
  background-color: red;
}
.options div.disabled {
  pointer-events: none;
}
.button #btn-text {
  padding: 10px 50px;
  background-color: darkcyan;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15px;
}
.button #btn-text:hover {
  background-color: #009687b6;
}
#answer-tracker {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
#answer-tracker div {
  height: 40px;
  width: 40px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.quiz-over-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over-modal.active {
  display: flex;
}

.quiz-over-modal .content {
  background-color: darkcyan;
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.quiz-over-modal .content h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over-modal .content button {
  padding: 15px 50px;
  border: none;
  background-color: #ff9800;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.quiz-over-modal .content button:hover {
  background-color: #ff9900b4;
}
